@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
      font-weight: 2rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
}
/*header*/
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
}

#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
    margin-top: 10px;
}

#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}

#home h1{
    margin-right: 843px;
}

#header .nav-list ul a.active{
    left: 0%;
}



#header .nav-list ul a{
    
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none  ;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    
}
#header  .button{
    background-color: transparent;
    border: 1px solid;
    height: 4px;
}
#header  .button:hover{
    background-color: white;
    border: 1px solid;
    transition: 1s ease ;
    color: #23323c;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba( 204, 248, 255, 0.021);
    font-size: 10rem;
    letter-spacing: 50px;
    z-index: -1;
    transition : .3s ease letter-spacing ;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-bar .brand h1{
    color: #7f8d9d;
    
}


#header .nav-bar .brand span{
    color: black;
}

#header .nav-list ul li:hover {
  color: black;
}

#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}

#header .hamburger:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger-puls 1s ease infinite;
}

#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: 1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after{
top: 8px;
}

#header .hamburger .bar::before{
bottom: 8px;
}

#header .hamburger.active .bar::before{
bottom: 0;
}

#header .hamburger.active .bar::after{
    top: 0;
}

/*end header*/

/*home*/
#home .container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home{
    background-image: url(/img/15-Best-Luxury-Cars-of-2017-for-Under-100000-GEAR-PATROL-full-lead.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#home::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#home h1{
    display: block;
    width: fit-content;
    font-size: 2rem;
    font-weight: 4;
    color:white;
    position: relative;
    text-transform: uppercase;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1ss;
}

#home h1:nth-child(1){
    animation-delay:  1s;
}

#home h1:nth-child(2){
    animation-delay:  2s;
}

#home h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay:  3s;
}

#home h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: white;
    animation: text_reaveal_box .5s ease forwards;
    animation-delay: 1.5s;

}
#home h1:nth-child(1) span{
    animation-delay:  .5s;
}

#home h1:nth-child(2) span{
    animation-delay:  1.5s;
}

#home h1:nth-child(3) span{
    animation: text_reveal_name .5s ease forwards;
    animation-delay:  3.5s;
}

#home .button{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease background-color;
}

#home .button:hover{
       color: black;
       background-color: white;
}
/*end -- home*/

/*Product*/
#products .product-container{
    height: 100vh;
    left: 0;
    top: -1px;
    margin-top: 100px;
} 
#products  h1 .product-title {
    margin-left: 150px;
    align-items: center;
    justify-content: center;
}
#products .product-items{
    display: flex-box;
    flex-direction: row;
    margin-top: 100px ;
    
}
#products .card-body{
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#product .card-body p{
    height: 10vh;
    align-items: center;
    justify-content: center;
}

#products .button{
    background-color: rgb(30, 85, 225);
    border: 1px solid rgb(30, 85, 225);
    
}

/*end -- Product*/

/*cart page*/
#cart-container {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#cart-container {
    font-weight: 700;
}

#cart-container table{
    align-items: center;
    justify-content: center;
    flex-basis: (-50% , -50%);
}

#cart-container table thead td{
    font-weight: 700;
}

#cart-container table thead td{
    background: #fd8c66;
    color: white;
    border: none;
    padding: 6px 0;
}

#cart-container table td{
    border: 1px solid #b6b6b6;
    text-align: center;
}

#cart-container table td:nth-child(1) {
    width: 100px;
    
}

#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3) {
    width: 200px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6) {
    width: 170px;
}

#cart-container table tbody img{
    width: 100px;
    height: 80px;
    object-fit: cover;
}
/*end cart page*/


/* about*/
#about .about-container{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;

}
#about .col-left{
    width: 250px;
    height: 360px;
    
}
#about .col-right{
    width: 100%;
}

#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p{
    margin-bottom: 20px;
}
#about .about .col-left .about-img::after{
    left: -45px;
    top:34px;
    height: 98%;
    width: 98%;
    border: 10px solid grey;
}

#about .col-right {
    width: 100%;
}
#about .col-right h1{
    text-align: left;
    
}
#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
    
}
/* end -- about*/

/*footer*/
#footer {
    background-image: linear-gradient(60deg, #23323c 0%, #485563 100%);
} 

#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
/*end footer*/

/*contact us*/
#contact-form{
     position: relative;
     justify-content: center;
}
/*end contact us*/


 /* KEY FRAMES*/
 @keyframes hamburger-puls{
    0%{
        opacity: 0;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.3);
    }
 }
@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }
  100%{
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
    100%{
        color: white;
    }
}

@keyframes text_reveal_name {
    100%{
        color: white;
        font-weight: 500px;
    }
}
/*end key frames*/


/* media query for Desktop */
@media only screen and (min-width: 1200px) {
 /*header*/
 #header .hamburger{
    display: none;
 }
 #header .nav-list ul{
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
}

#header .nav-list ul li{
    display: inline-block;
}

#header .nav-list ul li a{
    display: inline-block;
}


#header .nav-list ul li a::after{
    display: none;
}
 /* End header*/


 /*service*/
 #product .product-bottom .product-items{
    flex-basis: 22%;
    margin: 1.5%;
 }
 /*end service*/
}
/* End media query for Desktop */
